body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: white;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}


a {
    text-decoration: none;
}

img{
    display: block;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row; 
    margin: 0px;
}


button:hover,
button:focus {
    background-color: #404BBF;
}


h1 {
    max-width: 496px; 
}

/* --------------------  Header  ------------------------- */


.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    }

.flex{
    display: flex;
    justify-content: space-between;
}
.navigation{
    display: flex;
    align-items: center;
    padding: 24px 0;
}

.header-menu-list{
    display: flex;
    gap: 40px;
    padding: 24px 0;
    
}

.address-link{
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-logo { color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.accent  { color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase
}

.link-page{ 
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.link-page:hover,
.link-page:focus {
    color: #404bbf ;
}

.address {
    font-style: normal;
    
    
}

.contacts .link-contact {
    color: #434455;
}

.link-contact  { 
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;

}

.link-contact:hover,
.link-contact:focus {
    color: #404bbf ;
}



/* --------------  Main  -------------------- */



.ferst-page {
    background-color: #2e2f42;
    /* text-align: center; */
    padding: 188px 0;
}


.ferst-title {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
    }



.button-ferst {
    display: block;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    background-color: #4D5AE5;
    display: block;

}







/* --------------  Second-page  -------------------- */






.second-page {
    padding: 120px 0;
}

.second-link{
    display: flex;
    gap: 24px;
}

.link-paragraph{
   width: calc((100% - 3 * 24px) / 4);
}
.item-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;

}

.third-title-left { color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;
}

.paragraph-left {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: left;
}



/* --------------  Third-page  -------------------- */



.third-page { 
    background-color: #F4F4FD;
    padding: 120px 0;
}



.card-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}


.list {
    background-color: #FFFFFF;  
    padding-left: 0; 
    margin: 0; 
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px; 
}

.card-text {
    padding: 32px 16px;
}

.second-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.third-title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
}

.paragraph-center {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
}



/* --------------  Fourth-page  -------------------- */




.fourth-page{
    padding: 120px 0;
}

.fourth-link{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.card-fourth {
    width: calc((100% - 2 * 24px) / 3);
}

.fourth-content{
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
}





/* --------------  Footer  -------------------- */

footer {
    background-color: #2e2f42;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 100px 0;
}


.accent-footer  { color: #F4F4FD;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-footer{
    margin-bottom: 16px;
}

.footer a { color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer p {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    max-width: 264px;
}