body {
    background-color: white;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.page-header {
    background-color: #E7E9FC;
}
.header-logo { color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21;
    letter-spacing: 3%;
}
.accent  { color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21;
    letter-spacing: 3%;  
}
.link-page{ 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24;
    letter-spacing: 2%;
    color: #2E2F42;
}
.contacts .link-contact {
    color: #434455;
}
.link-contact  { 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24;
    letter-spacing: 2%;
}
.ferst-page {
    background-color: #2E2F42;
}
.ferst-title {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 2%;
    text-align: center;
}
button {
    background-color: #4D5AE5;
}
.button-ferst {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 4%;
    text-align: center;
}
.second-title {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2%;
    text-align: center;
}
.third-title-left { color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: left;
}
.paragraph-left {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: left;
}
.third-page { background-color: #F4F4FD;

}
.third-title {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: center;
}
.paragraph-center {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: center;
}
footer {
    background-color: #2E2F42;
}
.footer a { color: #F4F4FD;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 21;
    letter-spacing: 3%;
}
.footer p {
    font-family: 'Roboto', sans-serif;
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: left;
}